/* VERSIONE TABLET S */
@media only screen and (min-width: 450px){

    /* BARRA LATERALE */
    #lateral-bar{
        width: 700px;
        text-align: left;
    }

    #lateral-top .a-inline,
    #lateral-top h2,
    #lateral-bottom a,
    #lateral-bottom span{
        display: inline-block;
    }

    .display-none,
    #lateral-top .display-block a,
    hr{
        display: block;
    }

    #lateral-top img,
    .small,
    .circle{
        margin-left: 0.6rem;
    }

    #big-img img{
        width: 30px;
    }

    #big-img{
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
    }

    /* PARTE PRINCIPALE */
    #principla{
        width: calc(100% - 700px);
    }

    /* BARRA SUPERIORE */
    .button{
        margin-right: 3rem;
    }
}

/* VERSIONE TABLET M */
@media only screen and (min-width: 600px){

}

/* VERSIONE TABLET L */
@media only screen and (min-width: 740px){

}

/* VERSIONE COMPUTER */
@media only screen and (min-width: 1000px){

}