/* VERSIONE TABLET S */
@media only screen and (min-width: 480px){

    /* BARRA LATERALE */
    #lateral-bar{
        width: 200px;
        text-align: left;
    }

    #lateral-top a,
    #lateral-top h2,
    #lateral-bottom a,
    #lateral-bottom span{
        display: inline-block;
    }

    .display-none,
    hr{
        display: block;
    }

    #lateral-top img,
    .small,
    .circle{
        margin-left: 0.6rem;
    }

    /* PARTE PRINCIPALE */
    #principla{
        width: calc(100% - 200px);
    }
}

/* VERSIONE TABLET L */
@media only screen and (min-width: 740px){

}

/* VERSIONE COMPUTER */
@media only screen and (min-width: 1000px){

}