*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#struttura{
    height: 100vh;
    width: 100%;
    display: flex;
}

/* MAIN */
#main{
    height: 90vh;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

/* BARRA LATERALE */
#lateral-bar{
    height: 90vh;
    width: 70px;
    background-color: black;
    text-align: center;
}

/* PARTE ALTA LATERALE */
#lateral-top{
    height: calc(100% - 80px);
}

#lateral-top img{
    width: 20px;
    margin-top: 0.4rem;
}

#lateral-top h2{
    color: white;
    font-size: 25px;
    display: none;
    margin-left: 0;
}

#lateral-top a{
    text-decoration: none;
    color: rgb(163, 163, 163);
    margin-bottom: 5px;
    font-size: 0.8rem;
    display: none;
}

#lateral-top h4{
    color: white;
    margin-top: 0.8rem;
}

#lateral-top i{
    background-color: rgb(163, 163, 163);
    padding: 6px;
    font-size: 20px;
    margin-bottom: 10px;
}

.display-none{
    margin-left: 0.8rem;
    display: none;
}

.inline-block{
    display: inline-block;
}

.display-block a{
    display: block;
}

/* PARTE BASSA LATERALE */
#lateral-bottom{
    height: 80px;
}

hr{
    margin: 5px 0;
    display: none;
}

.small{
    width: 15px;
    margin-bottom: 5px;
}

.circle{
    width: 20px;
    border-radius: 100%;
    background-color: rgb(163, 163, 163);
    margin-top: 5px;
}

#lateral-bottom span{
    color: white;
    font-weight: bold;
}

#lateral-bottom a{
    text-decoration: none;
    color: rgb(163, 163, 163);
}

#lateral-bottom span,
#lateral-bottom a{
    display: none;
    font-size: 0.8rem;
}


/* PARTE PRINCIPALE */
#principla{
    width: calc(100% - 70px);
    height: 90vh;
    overflow: auto;
}

/* BARRA SUPERIORE */
#high-bar{
    display: flex;
    align-items: center;
    width: 100%;
}

.button{
    padding: 0.5rem 1.25rem;
    border-radius: 1.25rem;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    font-size: 0.7rem;
}

/* BARRA SUPERIORE */
#high-bar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: rgb(10, 13, 20);
    opacity: 0.6;
}

/* CORPO PAGINA */
/* MENU' DI SCELTA */
#selection{
    width: calc(100% - 70px);
    margin-top: 80px;
    color: white;
    justify-content: center;
    display: flex;
}

.background{
    background-color: rgb(20, 25, 34);
}

#selection ul{
    display: block;
    width: 100%;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

#selection ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 0.8rem;
}

#selection a{
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(163, 163, 163);
}

/* SCELTA ALBUM */
#recently-played{
    color: white;
    padding: 1.25rem;
}

#recently-played h2{
    margin-bottom: 1.5rem;
}

#playlist .album img{
    width: 100%;
}

#playlist{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#playlist .album{
    flex-basis: calc(100% / 2 - 2%);
    text-align: center;
}

.album h3{
    font-size: 1rem;
    margin: 0.5rem 0;
}

.album h6{
    color: rgb(163, 163, 163);
    margin-bottom: 1rem;
}

/* FOOTER */
#footer{
    height: 10vh;
    background-color: rgb(40, 40, 40);
    border: 1px solid red;
    position: sticky;
    bottom: 0;
}